{% extends "header.html" %}

{% block title %}
    <title>
        GraphPage
    </title>
    {% load static %}
    <link type="text/css" href="{% static 'Graph_App/css/GraphWindow.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 align="center">
        Расчёты произведены. Выберите необходимую опцию:
    </h1>
    <div class='MainFuncDiv'>

        <div class='FuncDiv'>
            <div class='ButtonDiv'>
                {% for i in buttons.name %}
                    <div style="padding: 3px; width: 25vw;">
                        <a href="{% url 'testview' i.2 %}">
                            <button class={{ i.1 }},
                                    style='padding: 3px; height: 6vh; width: 25vw; font-size: 20px;'>
                                {{ i.0 }}
                            </button>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class='PlotAndInputDiv'>
                <p style="font-size: 20px; text-align: center; margin-bottom: 5px; margin-top: 10px">
                    {{ header }}
                </p>
                {% if condition == 1 %}
                    <form class="InputForm" action="" method="POST">
                        {% csrf_token %}
                        <div class="InputDiv">
                            <input name="patientPC" class="ValuesInput" type="text" style="width: 20vh; height: 20px">
                            <button class="SubmitButton" type="submit" style="height: 26px">Ok</button>
                        </div>
                    </form>
                    <p style="height: 2vh; text-align: center;">
                        {{ data }}
                    </p>
                    <div class="PlotDiv">
                        <div class="Plot" id="myPlot">
                        {% if data %}
                            {% load static %}
                            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                            {% if param == 1 %}
                                <script>
                                    var x_y_data = JSON.parse('{{x_y_data|escapejs}}');
                                    var data = [];
                                    var xtitle = {title: "PC{{ data.0 }}"};
                                    var ytitle = {title: "PC{{ data.1 }}"};
                                    var maintitle = "Graph in PC{{ data.0 }}-PC{{ data.1 }} coordinates"
                                </script>
                                <script type="text/javascript"
                                        src={% static "Graph_App/js/Scatter2DGraph.js" %}></script>
                            {% elif param == 2 %}
                                <script>
                                    var x_y_data = JSON.parse('{{x_y_data|escapejs}}');
                                    var data = [];
                                    var xtitle = {title: "Wavenumbers"};
                                    var ytitle = {title: "PC{{ data.0 }}"};
                                    var maintitle = "Graph for PC{{ data.0 }} loadings to wavenumbers."
                                </script>
                                <script type="text/javascript"
                                        src={% static "Graph_App/js/LoadingsGraph.js" %}></script>
                            {% elif param == 3 %}
                                <script>
                                    var x_y_data = JSON.parse('{{x_y_data|escapejs}}');
                                    var data = [];
                                    var xtitle = {title: "PC{{ data.0 }}"};
                                    var ytitle = {title: "PC{{ data.1 }}"};
                                    var ztitle = {title: "PC{{ data.2 }}"};
                                    var maintitle = "Graph in PC{{ data.0 }}-PC{{ data.1 }}-PC{{ data.2 }} coordinates"
                                </script>
                                <script type="text/javascript"
                                        src={% static "Graph_App/js/Scatter3DGraph.js" %}></script>
                            {% endif %}

                        {% endif %}
                        </div>
                    </div>

                {% elif condition == 0 %}
                    <div class="PlotDiv">
                        <div class="Plot" id="myPlot"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}