{% extends "header.html" %}
{% block title %}
    <title>
        AboutUs
    </title>
{% endblock %}
{% block content %}
    <body>
        <div class = 'MainDiv'>
            <h1 class='MainHeader' style="padding-top: 5vh;">
                Информация о проекте
            </h1>
            <div class='MainText' style="font-size: 20px;">
                <p>
                    Данный проект посвящен исследованию спектров поглощения сыворотки крови больных множественной
                    миеломой. Между собой при помощи метода главных компонент и сравнительного анализа сравниваются
                    инфракрасные спектры здоровых доноров, больных секретирующей и несекретирующей ММ пациентов.
                </p>
                <p>
                    Разработчик:
                </p>
                <ul>
                    <li>
                        Чернышев Даниил
                    </li>
                    <li>
                        СПбГУ, ФФ, 1 курс магистратуры
                    </li>
                    <li>
                        lfybbk1399123@gmail.com
                    </li>
                    <li>
                        st063380@student.spbu.ru
                    </li>
                </ul>
            </div>
        </div>
    </body>
{% endblock %}