{% extends "header.html" %}
{% block title %}
    <title>
        Members
    </title>
{% endblock %}
{% block content %}
    <body>
    <div>
        <h1 class='MainHeader' style="padding-top: 5vh;">
            Все участники проекта:
        </h1>
        <div class='MainText' style="font-size: 20px;">
            <ul>
                1. Чернышев Даниил
                <li>Обработка и написание кода, запись спектров на приборе</li>
                <li>st063380@student.spbu.ru</li>
                2. Михайлец Элина
                <li>Соавтор научных работ, обработка иными не представленными здесь методами, запись спектров на
                    приборе
                </li>
                <li>st061577@student.spbu.ru</li>
                3. Поляничко Александр Михайлович
                <li>Научный руководитель</li>
                <li>polyanichko@gmail.com</li>
            </ul>
        </div>
    </div>
    </body>
{% endblock %}
