{% extends "header.html" %}
{% block title %}
    <title>
        InputPage
    </title>
{% load static %}
    <link type="text/css" href='{% static "PCA_app/css/InputPage.css" %}' rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="MainDiv">
        Connected successfully
        <form class="DiapasonForm" action="" method="POST">
            {% csrf_token %}
            <div class="First">
                <input name="first_number" class="InputFirst" type="text" maxlength='4'>
            </div>
            <div class="Second">
                <input name="second_number" class="InputSecond" type="text" maxlength='4'>
            </div>
            <div class="Button">
                <button type="submit" class="OkButton">
                    Войти
                </button>
            </div>
        </form>
    </div>
{% endblock %}
