{% extends "header.html" %}
{% block title %}
    <title>
        InputPage
    </title>
{% endblock %}
{% block content %}
    <div class="MainDiv">
        Connected successfully
        <form class="DiapasonForm" action="" method="POST">
            {% csrf_token %}
            <div class="First">
                <input name="first_number" class="InputFirst" type="text" maxlength='4'>
            </div>
            <div class="Second">
                <input name="second_number" class="InputSecond" type="text" maxlength='4'>
            </div>
            <div class="Button">
                <button type="submit" class="OkButton">
                    Войти
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block style %}
    .MainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    }

    .First {
    margin: 10px;
    }

    .Second {
    margin: 10px;
    }

    .Button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    }
{% endblock %}